body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.butInc {
  background: linear-gradient(rgb(45, 206, 45), rgb(23, 189, 23));
  background-size: auto 150%;
  background-position: 0 100%;
  height: 2em;
  width: 2em;
  border-radius: 100%;
  font-size: 16px;
  padding: 0 0px;
  display: inline-block;
  border: none;
  outline: none;
}

.butDec {
  background: linear-gradient(red, #ee4040);
  background-size: auto 150%;
  background-position: 0 100%;
  height: 2em;
  width: 2em;
  border-radius: 100%;
  font-size: 16px;
  padding: 0 0px;
}

.icon:before {
  font-style: normal;
  font-size: 40px;
  display: block;
  margin-top: -20px;
  color: #ffffff;
  text-shadow: 0 1px 1px black;
  content: attr(data-char);
}



.dropDown {
  background-color: inherit;
  border: none;

  select {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

}